# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/.cxx/
*.iml

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
*.xcworkspace
xcuserdata/

# Expo (just in case)
.expo/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
